{{- if .Values.rbacHelpers.enable }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
    labels:
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/name: {{ include "ocm-k8s-toolkit.name" . }}
        helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    name: {{ include "ocm-k8s-toolkit.resourceName" (dict "suffix" "repository-viewer-role" "context" $) }}
rules:
    - apiGroups:
        - delivery.ocm.software
      resources:
        - repositories
      verbs:
        - get
        - list
        - watch
    - apiGroups:
        - delivery.ocm.software
      resources:
        - repositories/status
      verbs:
        - get
{{- end }}
