{{- $inner := .Inner -}}
{{- with .Page.Site.Version -}}
  {{/* "latest" appears in pinned Go module content (v0.9.1, v0.10.0) that cannot be updated */}}
  {{- $inner = replace $inner "ocm.software/latest/" (printf "ocm.software/%s/" .Name) -}}
  {{- $inner = replace $inner "__VERSION__" .Name -}}
{{- end -}}

{{- $title := .Attributes.title }}
{{- $titleClass := "" }}
{{ with $title}}
  {{- $titleClass = " has-title" }}
{{- end }}

<div class="expressive-code">
  <figure class="frame is-terminal{{ $titleClass }} not-content">
  <figcaption class="header">
    <span class="title">
      {{- with $title -}}{{ . }}{{- end -}}
    </span>
  </figcaption>
  {{ highlight $inner .Type "" }}
  </figure>
</div>
