<!--
  Local override of @thulite/doks-core sidebar/docs-toc-desktop.html.
  Uses main/toc-from-content.html instead of .TableOfContents so that
  headings inside the tabs/steps shortcodes appear in the TOC. The TOC is
  static: it always lists every heading on the page, regardless of which
  tab is active.
-->
{{ $toc := partial "main/toc-from-content.html" . }}
<div class="page-links">
  {{ if $toc -}}
    <h3>{{ i18n "on_this_page" }}</h3>
    {{ if eq site.Params.doks.scrollSpy true -}}
      {{ $toc | replaceRE "<nav id=\"TableOfContents\">" "<nav id=\"toc\">" | safeHTML -}}
    {{- else -}}
      {{ $toc -}}
    {{- end }}
  {{- end }}
</div>
