{{- /*
  Renders headings collected from tabs and steps into a markdown list and
  passes it through RenderString, producing the same nested <ul><li><a>
  structure as .TableOfContents with no extra CSS needed.

  Expects to be called with the page as context (.).
  Reads Page.Scratch "toc-extra": slice of dicts with either:
    { type: "group", name: "Tab Name" }
    { type: "heading", level: 2, id: "foo", text: "Bar" }
*/ -}}
{{- $extras := .Scratch.Get "toc-extra" -}}
{{- if $extras -}}
  {{- $minLevel := 6 -}}
  {{- range $extras -}}
    {{- if and (eq .type "heading") (lt .level $minLevel) -}}
      {{- $minLevel = .level -}}
    {{- end -}}
  {{- end -}}
  {{- $md := "" -}}
  {{- range $extras -}}
    {{- if eq .type "group" -}}
      {{- $md = printf "%s\n- **%s**" $md .name -}}
    {{- else if eq .type "heading" -}}
      {{- $count := add 1 (sub .level $minLevel) -}}
      {{- $indent := strings.Repeat $count "  " -}}
      {{- $md = printf "%s\n%s- [%s](#%s)" $md $indent .text .id -}}
    {{- end -}}
  {{- end -}}
  {{ $.RenderString $md }}
{{- end -}}
