name: Markdown

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*.md'

jobs:
  verify-links:
    name: Verify links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Run linkspector
        uses: umbrelladocs/action-linkspector@652f85bc57bb1e7d4327260decc10aa68f7694c3 # v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          fail_level: any
          config_file: .github/config/linkspector.yaml
          show_stats: true
  spellcheck:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Spellcheck
        uses: rojopolis/spellcheck-github-actions@cebe06444da3ac5e9d3146f5f02a0e2a236f7488 # v0
        with:
          config_path: .github/config/spellcheck.yml
          task_name: Markdown

