name: Markdown

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*.md'

jobs:
  verify-links:
    name: Verify links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Run linkspector
        uses: umbrelladocs/action-linkspector@652f85bc57bb1e7d4327260decc10aa68f7694c3 # v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          fail_level: any
          config_file: .github/config/linkspector.yaml
          show_stats: true
  spellcheck:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Spellcheck
        uses: rojopolis/spellcheck-github-actions@0bf4b2f91efa259b52c202b09b0c3845c524ff36 # v0
        with:
          config_path: .github/config/spellcheck.yml
          task_name: Markdown

